<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hasta Bilgileri</title>

  <!-- CSS dosyası burada yüklenecek -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />

  <!-- JavaScript dosyası burada yüklenecek -->
  <script th:src="@{/js/script.js}" defer></script>
</head>

<body>
<h1>Hasta Bilgileri</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>TC Kimlik No</th>
    <th>Ad</th>
    <th>Soyad</th>
    <th>Cinsiyet</th>
    <th>Doğum Tarihi</th>
    <th>Sigortalı Türü</th>
    <th>Devredilen Kurum</th>
    <th>Katılım Payından Muaf</th>
    <th>Kapsam Adı</th>
    <th>İlave Ücretten Muaf</th>
  </tr>
  </thead>
  <tbody>
  <!-- Hasta bilgilerini burada döngü ile listeleyeceğiz -->
  <tr th:each="hasta : ${hastaList}">
    <td th:text="${hasta.id}"></td>
    <td th:text="${hasta.tcKimNo}"></td>
    <td th:text="${hasta.ad}"></td>
    <td th:text="${hasta.soyad}"></td>
    <td th:text="${hasta.cinsiyet}"></td>
    <td th:text="${hasta.dogumTarihi}"></td>
    <td th:text="${hasta.sigortaliTuru}"></td>
    <td th:text="${hasta.devredilenKurum}"></td>
    <td th:text="${hasta.katilimPayindanMuaf}"></td>
    <td th:text="${hasta.kapsamAdi}"></td>
    <td th:text="${hasta.ilaveUcrettenMuaf}"></td>
  </tr>
  </tbody>
</table>
</body>

</html>
