<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hasta Bilgileri</title>
    <!-- Gerekli stil ve diğer bağımlılıkları ekleyebilirsiniz -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Hasta Bilgileri</h2>
    <table class="table">
        <tbody>
        <tr>
            <td>ID:</td>
            <td><span id="id"></span></td>
        </tr>
        <tr>
            <td>Ad:</td>
            <td><span id="ad"></span></td>
        </tr>
        <tr>
            <td>Soyad:</td>
            <td><span id="soyad"></span></td>
        </tr>
        <tr>
            <td>TC Kimlik No:</td>
            <td><span id="tcKimNo"></span></td>
        </tr>
        <tr>
            <td>Cinsiyet:</td>
            <td><span id="cinsiyet"></span></td>
        </tr>
        <tr>
            <td>Doğum Tarihi:</td>
            <td><span id="dogumTarihi"></span></td>
        </tr>
        <tr>
            <td>Sigortalı Türü:</td>
            <td><span id="sigortaliTuru"></span></td>
        </tr>
        <tr>
            <td>Devredilen Kurum:</td>
            <td><span id="devredilenKurum"></span></td>
        </tr>
        <tr>
            <td>Katılım Payından Muaf:</td>
            <td><span id="katilimPayindanMuaf"></span></td>
        </tr>
        <tr>
            <td>Kapsam Adı:</td>
            <td><span id="kapsamAdi"></span></td>
        </tr>
        <tr>
            <td>İlave Ücretten Muaf:</td>
            <td><span id="ilaveUcrettenMuaf"></span></td>
        </tr>
        <!-- Diğer alanları buraya ekleyin -->
        </tbody>
    </table>
</div>

<!-- jQuery kütüphanesini ekleyin -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var patientId = getUrlParameter('id');
        if (patientId) {
            $.ajax({
                type: "GET",
                url: "/hasta/" + patientId, // API endpoint URL'si
                success: function (data) {
                    populatePatientInfo(data);
                },
                error: function (error) {
                    console.log("Hasta bilgileri alınamadı: " + error);
                }
            });
        }

        function getUrlParameter(name) {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        function populatePatientInfo(patient) {
            $("#id").text(patient.id);
            $("#ad").text(patient.ad);
            $("#soyad").text(patient.soyad);
            $("#tcKimNo").text(patient.tcKimNo);
            $("#cinsiyet").text(patient.cinsiyet);
            $("#dogumTarihi").text(patient.dogumTarihi);
            $("#sigortaliTuru").text(patient.sigortaliTuru);
            $("#devredilenKurum").text(patient.devredilenKurum ? patient.devredilenKurum : "-");
            $("#katilimPayindanMuaf").text(patient.katilimPayindanMuaf);
            $("#kapsamAdi").text(patient.kapsamAdi);
            $("#ilaveUcrettenMuaf").text(patient.ilaveUcrettenMuaf);
            // Diğer alanları buraya ekleyin
        }
    });
</script>
</body>
</html>
